<tr class="btn-reveal-trigger" id="customers_<%=customer.id%>">
  <td class="name align-middle white-space-nowrap py-2">
    <%= link_to edit_clients_customer_path(customer), data: { turbo_frame: "_top" } do %>
      <div class="d-flex d-flex align-items-center">
        <div class="flex-1">
          <h5 class="mb-0 fs-10"><%= customer.name %></h5>
        </div>
      </div>
    <%- end %>
  </td>
  <td class="align-middle py-2">
    <%= customer.email %>
  </td>
  <td class="align-middle white-space-nowrap py-2">
    <%= customer.phone %>
  </td>
  <td class="align-middle white-space-nowrap ps-5 py-2">
    <%= customer.created_at.to_date %>
  </td>
  <td class="align-middle py-2">
    <%- if customer.archived_at.present? %>
      <span class="badge badge rounded-pill d-block badge-subtle-danger">
        <span class="ms-1 fa-solid fa-x" data-fa-transform="shrink-2"></span>
      </span>
    <%- else %>
      <span class="badge badge rounded-pill d-block badge-subtle-success">
        <span class="ms-1 fas fa-check" data-fa-transform="shrink-2"></span>
      </span>
    <%- end %>
  </td>
  <td class="align-middle white-space-nowrap py-2 text-end">
    <%= link_to 'Edit', edit_clients_customer_path(customer), data: { turbo_frame: "_top" }, class: "btn btn-outline-primary"%>
    <%= link_to "Delete", clients_customer_path(customer), data: { turbo_method: :delete, turbo_confirm: "Are you sure?", turbo_frame: "_top" }, class: 'btn btn-danger' %>
  </td>
</tr>