<tr class="btn-reveal-trigger" id="users_<%=user.id%>">
  <td class="order py-2 align-middle white-space-nowrap"><a href="<%= edit_users_user_path(user) %>"> <strong><%= user.name %></strong></a></td>
  <td class="date py-2 align-middle"><%= user.email %></td>
  <td class="address py-2 align-middle white-space-nowrap"><%= user.phone %>
  </td>
  <td class="status py-2 align-middle text-center fs-9 white-space-nowrap"><span class="badge badge rounded-pill d-block badge-subtle-success"><%= user.role.name %><span class="ms-1 fas fa-check" data-fa-transform="shrink-2"></span></span>
  </td>
  <td class="py-2 align-middle white-space-nowrap text-end">
    <%= link_to 'Edit', edit_users_user_path(user), data: { turbo_frame: "_top" }, class: "btn btn-outline-primary"%>
    <%= link_to 'Disable', users_user_path(user), data: { turbo_method: :delete, turbo_confirm: "Are you sure?", turbo_frame: "_top"  }, class: 'btn btn-danger' %></a>
  </td>
</tr>
