<!-- Modal Structure -->
<div class="modal fade" tabindex="-1" data-customer-modal-target="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Customer Form</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form.hidden_field :add_customer_url, class: 'input', value: find_or_create_customer_users_invoices_url, id: 'addCustomerURL', data: { 'customer-modal-target': 'addCustomerURL' } %>
        <div class="mb-3">
          <%= form.label :email, 'Email:', class: 'form-label' %>
          <div class="autocomplete-container" id="autocomplete-container">
            <%= form.text_field :email, value: (invoice.customer.email rescue ''), class: 'form-control', id: "autocomplete-field", data: { 'customer-modal-target': 'customerEmail' } %>
          </div>
        </div>
        <div class="mb-3">
          <%= form.label :name, 'Name:', class: 'form-label' %>
          <%= form.text_field :name, value: (invoice.customer.name rescue ''), class: 'form-control', data: { 'customer-modal-target': 'customerName' } %>
        </div>
        <div class="mb-3">
          <%= form.label :phone, 'Phone Number:', class: 'form-label' %>
          <%= form.number_field :phone, value: (invoice.customer.phone rescue ''), class: 'form-control', data: { 'customer-modal-target': 'customerPhone' } %>
        </div>
        <div class="modal-footer">
          <%= link_to 'Save', 'javascript:void(0)', class: 'btn btn-primary', data: { action: 'click->customer-modal#submit' } %>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
