<%= form_with(model: product, url: url, data: { turbo: false }) do |form| %>
  <div class="card mb-3">
    <div class="card-body">
      <div class="row flex-between-center">
        <div class="col-md">
          <h5 class="mb-2 mb-md-0">Add a product</h5>
        </div>
        <div class="col-auto">
          <%= link_to 'Discard', users_products_path, class: 'btn btn-link text-secondary p-0 me-3 fw-medium' %>
          <%= form.submit 'Add product', class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
  <% if product.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row g-0">
    <div class="col-12">
      <div class="card mb-3">
        <div class="card-header bg-body-tertiary">
          <h6 class="mb-0">Product information</h6>
        </div>
        <div class="card-body">
          <div class="row gx-2">
            <div class="col-6 mb-3">
              <%= form.label :product_number, 'Product number:', class: 'form-label' %>
              <%= form.text_field :product_number, class: 'form-control' %>
            </div>
            <div class="col-6 mb-3">
              <%= form.label :name, 'Product name:', class: 'form-label' %>
              <%= form.text_field :name, class: 'form-control' %>
            </div>
          </div>
          <div class="row gx-2">
            <div class="col-3 mb-3">
              <%= form.label :available_stocks, 'Available Stocks:', class: 'form-label' %>
              <%= form.text_field :available_stocks, class: 'form-control', disabled: true %>
            </div>
            <div class="col-3 mb-3">
              <%= form.label :add_stock, 'Add Stock:', class: 'form-label' %>
              <%= form.number_field :add_stock, class: 'form-control' %>
            </div>
            <div class="col-3 mb-3">
              <%= form.label :location, 'Location:', class: 'form-label' %>
              <%= form.text_field :location, class: 'form-control' %>
            </div>
            <div class="col-3 mb-3">
              <%= form.label :warranty_period, 'Warranty Period:', class: 'form-label' %>
              <%= form.text_field :warranty_period, class: 'form-control' %>
            </div>
            <div class="col-6 mb-3">
              <%= form.label :vendor_id, 'Vendor', class: 'form-label' %>
              <%= form.select :vendor_id, Vendor.all.collect { |vendor| [ "#{vendor.name}", vendor.id ] }, {}, class: 'form-select' %>
            </div>
            <div class="col-6 mb-3">
              <%= form.label :description, 'Description/Memo', class: 'form-label' %>
              <%= form.text_field :description, class: 'form-control' %>
            </div>
          </div>
          <div class="row gx-2">
            <div class="col-4 mb-3">
              <%= form.label :base_price, 'Base Price:', class: 'form-label' %><span data-bs-toggle="tooltip" data-bs-placement="top" title="Product purchase price"><span class="fas fa-question-circle text-primary fs-10 ms-1"></span></span>
              <div class="input-group mb-3">
                <%= form.text_field :base_price, class: 'form-control', data: { product_target: 'price '} %><span class="input-group-text" id="basic-addon2">CAD</span>
              </div>
            </div>
            <div class="col-4 mb-3">
              <%= form.label :selling_price, 'Selling Price:', class: 'form-label' %><span data-bs-toggle="tooltip" data-bs-placement="top" title="Product selling price"><span class="fas fa-question-circle text-primary fs-10 ms-1"></span></span>
              <div class="input-group mb-3">
                <%= form.text_field :selling_price, class: 'form-control', data: { product_target: 'selling_price '} %><span class="input-group-text" id="basic-addon2">CAD</span>
              </div>
            </div>
            <div class="col-4 mb-3">
              <%= form.label :core_price, 'Core Price:', class: 'form-label' %><span data-bs-toggle="tooltip" data-bs-placement="top" title="Product core price"><span class="fas fa-question-circle text-primary fs-10 ms-1"></span></span>
              <div class="input-group mb-3">
                <%= form.text_field :core_price, class: 'form-control', data: { product_target: 'core_price '} %><span class="input-group-text" id="basic-addon2">CAD</span>
              </div>
            </div>
          </div>
          <div class="row justify-content-between align-items-center">
            <div class="col-md">
              <h5 class="mb-2 mb-md-0 d-none">You're almost done!</h5>
            </div>
            <div class="col-auto">
              <%= link_to 'Discard', users_products_path, class: 'btn btn-link text-secondary p-0 me-3 fw-medium' %>
              <%= form.submit 'Add product', class: 'btn btn-primary' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
