<tr class="border-200 nested-form-wrapper" data-new-record="<%= f.object.new_record? %>">
  <td class="align-middle">
    <%= f.select :product_id, Product.published_products.map {|product| [product.name, product.id, 'data-price': product.price]}, { include_blank: true }, { class: 'form-select', data: { action: "change->nested-form#change", "nested-form-target": "selectProduct" } } %>
  </td>
  <td class="align-middle text-center"><%= f.number_field :quantity, class: 'form-control', data: { action: "change->nested-form#change", "nested-form-target": "productQuantity" } %></td>
  <td class="align-middle text-center"><%= f.number_field :price, class: 'form-control', data: { action: "change->nested-form#change", "nested-form-target": "productPrice" } %></td>
  <td class="align-middle text-center"><%= f.number_field :final_price, class: 'form-control', data: { action: "change->nested-form#change", "nested-form-target": "productFinalPrice" } %></td>
  <td class="align-middle text-end">
    <button type="button" data-action="nested-form#remove" class="btn btn-danger"><i class="fa-solid fa-trash"></i></button>
    <%= f.hidden_field :_destroy, data: { "nested-form-target": "productDestroy" } %>
  </td>
</tr>
