<tr class="border-200 nested-form-wrapper" data-new-record="<%= f.object.new_record? %>">
  <td class="align-middle">
    <%= f.select :product_id, Product.published_products.map {|product| [product.name, product.id, 'data-price': product.price_cents]}, { include_blank: true }, class: 'form-select' %>
  </td>
  <td class="align-middle text-center"><%= f.number_field :quantity, class: 'form-control' %></td>
  <td class="align-middle text-center"><%= f.number_field :price, class: 'form-control' %></td>
  <td class="align-middle text-center"><%= f.number_field :final_price, class: 'form-control' %></td>
  <td class="align-middle text-end">
    <button type="button" data-action="nested-form#remove" class="btn btn-danger">Remove Product</button>
    <%= f.hidden_field :_destroy %>
  </td>
</tr>
