<p style="color: green"><%= notice %></p>

<%= render @users_order %>

<div>
  <%= link_to "Edit this order", edit_users_order_path(@users_order) %> |
  <%= link_to "Back to orders", users_orders_path %>

  <%= button_to "Destroy this order", @users_order, method: :delete %>
</div>
