<%= form_with(model: invoice, url: url, data: { controller: 'invoice-nested-form', action: "messageFromChild->invoice-nested-form#change", turbo: false }) do |form| %>
  <% if invoice.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <ul>
        <% invoice.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="card mb-3">
    <div class="bg-holder d-none d-lg-block bg-card" style="background-image:url(<%= image_path('theme/corner-4.png') %>);opacity: 0.7;">
    </div>
    <!--/.bg-holder-->

    <div class="card-body position-relative">
      <h5><%= invoice.new_record? ? "New invoice Details:" : "Edit invoice Details: ##{invoice.id}" %></h5>
      <div><strong class="me-2">Status: </strong>
        <%- if current_user.role.name == 'admin' %>
          <%= form.select :status, Invoice.statuses.map {|k,v| [k.humanize,k]}, {}, class: 'form-select' %>
        <%- else %>
          <div class="badge rounded-pill badge-subtle-success fs-11"><%= invoice.status %><span class="fas fa-check ms-1" data-fa-transform="shrink-2"></span></div>
        <%-end%>
      </div>
    
      <div class="row mt-2" data-controller='customer-modal'>
        <div class="col-12">
          <div class="row">
            <div class="col-6">
              <h5 class="mb-1 fs-9">Customer Information</h5>
            </div>
            <div class="col-6 text-end">
              <button type="button" class="btn btn-primary mt-2" data-action="click->customer-modal#open">Select or Create Customer</button>
            </div>
          </div>
          <%= turbo_frame_tag "customer_form" do %>
            <%= render 'modal/customer_form_modal', form: form %>
          <% end %>
        </div>
        <%= form.hidden_field :customer_id, value: (invoice.customer.id rescue ''), class: 'input', data: { 'customer-modal-target': 'customerId' } %>
        <%= form.hidden_field :search_url, class: 'input', value: search_customer_users_invoices_url, id: 'searchURL', data: { 'customer-modal-target': 'searchURL' } %>
        <div class="col-sm-4">
          <%= form.label :customer_email, 'Email:', class: 'form-label' %>
          <%= form.text_field :customer_email, value: (invoice.customer.email rescue ''), class: 'form-control', data: { 'customer-modal-target': 'invoiceCustomerEmail' }, disabled: true %>
        </div>

        <div class="col-sm-4">
          <%= form.label :customer_name, 'Name:', class: 'form-label' %>
          <%= form.text_field :customer_name, value: (invoice.customer.name rescue ''), class: 'form-control', data: { 'customer-modal-target': 'invoiceCustomerName' }, disabled: true %>
        </div>
        <div class="col-sm-4">
          <%= form.label :customer_phone, 'Phone Number:', class: 'form-label' %>
          <%= form.number_field :customer_phone, value: (invoice.customer.phone rescue ''), class: 'form-control', disabled: true, data: { 'customer-modal-target': 'invoiceCustomerPhone' } %>
        </div>
      </div>

      <div class="row mt-3" data-controller='vehicle-modal'>
        <div class="col-12">
          <div class="row">
            <div class="col-6">
              <h5 class="mb-1 fs-9">Vehicle Information</h5>
            </div>
            <div class="col-6 text-end">
              <button type="button" class="btn btn-primary mt-2" data-action="click->vehicle-modal#open">Select or Create Vehicle</button>
            </div>
          </div>
          <%= turbo_frame_tag "vehicle_form" do %>
            <%= render 'modal/vehicle_form_modal', form: form %>
          <% end %>
        </div>
        <%= form.hidden_field :vehicle_id, value: (invoice.vehicle.id rescue ''), class: 'input', data: { 'vehicle-modal-target': 'vehicleId' } %>
        <%= form.hidden_field :vehicle_search_url, class: 'input', value: search_vehicle_users_invoices_url, id: 'vehicleSearchURL', data: { 'vehicle-modal-target': 'vehicleSearchURL' } %>
        <div class="col-sm-4 col-md">
          <%= form.label :vehicle_vin, 'VIN:', class: 'form-label' %>
          <%= form.text_field :vehicle_vin, class: 'form-control', value: (invoice.vehicle.vin rescue ''), data: { 'vehicle-modal-target': 'invoiceVehicleVIN' }, disabled: true %>
        </div>
        <div class="col-sm-4 col-md">
          <%= form.label :vehicle_make_model, 'MAKE-MODEL:', class: 'form-label' %>
          <%= form.text_field :vehicle_make_model, class: 'form-control', value: (invoice.vehicle.make_model rescue ''), data: { 'vehicle-modal-target': 'invoiceVehicleMakeModel' }, disabled: true %>
        </div>
        <div class="col-sm-4 col-md">
          <%= form.label :vehicle_unit_number, 'UNIT NO:', class: 'form-label' %>
          <%= form.text_field :vehicle_unit_number, class: 'form-control', value: (invoice.vehicle.unit_number rescue ''), data: { 'vehicle-modal-target': 'invoiceVehicleUnitNumber' }, disabled: true %>
        </div>
        <div class="col-sm-4 col-md">
          <%= form.label :vehicle_year, 'YEAR:', class: 'form-label' %>
          <%= form.text_field :vehicle_year, class: 'form-control', value: (invoice.vehicle.year rescue ''), data: { 'vehicle-modal-target': 'invoiceVehicleYear' }, disabled: true %>
        </div>
        <div class="col-sm-4 col-md">
          <%= form.label :odometer, 'ODOMETER:', class: 'form-label' %>
          <%= form.text_field :odometer, class: 'form-control', id: 'vehicle_odometer', data: { 'vehicle-modal-target': 'invoiceVehicleOdometer' } %>
        </div>
        <div class="col-sm-4 col-md">
          <%= form.label :vehicle_licence_number, 'LICENCE NO:', class: 'form-label' %>
          <%= form.text_field :vehicle_licence_number, class: 'form-control', value: (invoice.vehicle.licence_number rescue ''), data: { 'vehicle-modal-target': 'invoiceVehicleLicenceNumber' }, disabled: true %>
        </div>
        <div class="col-sm-4 col-md">
          <%= form.label :vehicle_po_number, 'PO No:', class: 'form-label' %>
          <%= form.text_field :vehicle_po_number, class: 'form-control', value: (invoice.vehicle.po_number rescue ''), data: { 'vehicle-modal-target': 'invoiceVehiclePoNumber' }, disabled: true %>
        </div>
      </div>

      <div class="row mt-3 d-none">
        <div class="col-12">
          <h5 class="mb-3 fs-9">Transaction Information</h5>
        </div>
        <div class="col-sm-12 col-md-4 mb-3">
          <%= form.label :transaction_id, 'Transaction Id:', class: 'form-label' %>
          <%= form.text_field :transaction_id, class: 'form-control' %>
        </div>
        <div class="col-sm-12 col-md-4 mb-3">
          <%= form.label :payment_method, 'Payment Method:', class: 'form-label' %>
          <%= form.select :payment_method, Invoice.payment_methods.map {|k,v| [k.humanize,k]}, {}, class: 'form-select' %>
        </div>
        <div class="col-sm-12 col-md-4 mb-3">
          <%= form.label :service_estimted_time, 'Service Estimted Time:', class: 'form-label' %>
          <%= form.select :service_estimted_time, services_duration_options, {}, class: 'form-select' %>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-12">
          <h5 class="mb-3 fs-9">Items</h5>
          <%= form.hidden_field :hourly_rate, value: (Setting.last.hourly_rate rescue 0), class: 'input', data: { 'invoice-nested-form-target': 'hourlyRate' } %>
        </div>
        <div data-controller="nested-form" data-nested-form-wrapper-selector-value=".nested-form-wrapper">
          <template data-nested-form-target="template">
            <%= form.fields_for :invoice_items, invoice.invoice_items.build(price_cents: 0, final_price_cents: 0, qty: 0), child_index: 'NEW_RECORD' do |invoice_item_fields| %>
              <%= render "invoice_type_form", f: invoice_item_fields %>
            <% end %>
          </template>
          <div class="table-responsive fs-10">
            <table class="table table-striped border-bottom">
              <thead class="bg-200">
                <tr>
                  <th class="text-900 border-0 col-2">Type</th>
                  <th class="text-900 border-0 col-4">Product/Description</th>
                  <th class="text-900 border-0">Qty/Hrs</th>
                  <th class="text-900 border-0 text-center">Rate</th>
                  <th class="text-900 border-0 text-center">Amount</th>
                  <th class="text-900 border-0 text-center">Action</th>
                </tr>
              </thead>
              <tbody>
                <%= form.fields_for :invoice_items do |invoice_item_fields| %>
                  <%= render "invoice_type_form", f: invoice_item_fields %>
                <% end %>

                <!-- Inserted elements will be injected before that target. -->
                <tr data-nested-form-target="target" data-invoice-nested-form-target="invoiceItems"></tr>
                <tr >
                  <td colspan="5">
                    <button type="button" data-action="nested-form#add" class="btn btn-primary">Add Item</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="row g-0 justify-content-end">
        <div class="col-auto">
          <table class="table table-sm table-borderless fs-10 text-end">
            <tr>
              <th class="text-900 align-content-center">Subtotal:</th>
              <td class="fw-semi-bold">
                <div class="input-group ">
                  <span class="input-group-text" id="basic-addon1">$</span>
                  <%= form.number_field :price, class: 'form-control', data: { action: "change->invoice-nested-form#change", "invoice-nested-form-target": "orderPrice" }, readonly: true %>
                </div>
              </td>
            </tr>
            <tr>
              <%- tax_percentage = Setting.last.tax_percentage rescue 0 %>
              <th class="text-900 align-content-center">Tax <%= tax_percentage %>%:</th>
              <td class="fw-semi-bold">
                <div class="input-group">
                  <span class="input-group-text" id="basic-addon1">$</span>
                  <%= form.hidden_field :tax_percentage, value: tax_percentage, data: { "invoice-nested-form-target": "taxPercentage" } %>
                  <%= form.number_field :tax, class: 'form-control', data: { action: "change->invoice-nested-form#change", "invoice-nested-form-target": "orderTax" }, readonly: true %>
                </div>
              </td>
            </tr>
            <tr>
              <th class="text-900 align-content-center">Discount:</th>
              <td class="fw-semi-bold">
                <div class="input-group ">
                  <span class="input-group-text" id="basic-addon1">$</span>
                  <%= form.number_field :discount, class: 'form-control', data: { action: "change->invoice-nested-form#change", "invoice-nested-form-target": "orderDiscount" } %>
                </div>
              </td>
            </tr>
            <tr class="border-top">
              <th class="text-900 align-content-center">Total:</th>
              <td class="fw-semi-bold">
                <div class="input-group ">
                  <span class="input-group-text" id="basic-addon1">$</span>
                  <%= form.number_field :total_price, class: 'form-control', data: { action: "change->invoice-nested-form#change", "invoice-nested-form-target": "orderTotalPrice" }, readonly: true %>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="row g-0 mb-3 justify-content-start">
        <div class="col-12">
          <%= form.submit class: 'btn btn-primary' %>
          <%= link_to "Cancel", users_invoices_path, class: 'btn btn-danger' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
