<tr class="btn-reveal-trigger" id="invoices_<%=invoice.id%>">
  <td class="order py-2 align-middle white-space-nowrap">
    <strong><%= link_to invoice.id, users_invoice_path(invoice), data: { turbo_frame: "_top" } %></strong> for <strong><%= invoice.customer.name rescue '-' %></strong><br />
    <%- if invoice.customer.present? %>
      <a href="mailto:<%= invoice.customer.email %>"><%= invoice.customer.email %></a>
    <%- end %>
  </td>
  <td><%= invoice.user.name %></td>
  <td class="date py-2 align-middle text-center"><%= invoice.created_at.strftime('%d/%m/%Y') %></td>
  <td class="status py-2 align-middle text-center fs-9 white-space-nowrap">
    <%- if invoice.paid? %>
      <span class="badge badge rounded-pill d-block badge-subtle-success">
        Paid<span class="ms-1 fas fa-check" data-fa-transform="shrink-2"></span>
      </span>
    <%- else %>
      <span class="badge badge rounded-pill d-block badge-subtle-primary">
        Pending<span class="ms-1 fas fa-redo" data-fa-transform="shrink-2"></span>
      </span>
    <%- end %>
  </td>
  <td class="amount py-2 align-middle text-center fs-9 fw-medium"><%= humanized_money_with_symbol invoice.price %></td>
  <td class="amount py-2 align-middle text-center fs-9 fw-medium"><%= humanized_money_with_symbol invoice.tax %></td>
  <td class="amount py-2 align-middle text-center fs-9 fw-medium"><%= humanized_money_with_symbol invoice.discount %></td>
  <td class="amount py-2 align-middle text-center fs-9 fw-medium"><%= humanized_money_with_symbol invoice.total_price %></td>
  <td class="py-2 align-middle white-space-nowrap text-end">
    <div class="dropdown font-sans-serif position-static">
      <button class="btn btn-link text-600 btn-sm dropdown-toggle btn-reveal" type="button" id="order-dropdown-0" data-bs-toggle="dropdown" data-boundary="viewport" aria-haspopup="true" aria-expanded="false">
        <span class="fas fa-ellipsis-h fs-10"></span>
      </button>
      <div class="dropdown-menu dropdown-menu-end border py-0" aria-labelledby="order-dropdown-0">
        <div class="py-2">
          <%= link_to 'Edit', edit_users_invoice_path(invoice), data: { turbo_frame: "_top" }, class: "dropdown-item"%>
          <%= link_to 'Paid', paid_users_invoice_path(invoice), data: { turbo_frame: "_top" }, class: "dropdown-item"%>
          <div class="dropdown-divider"></div>
          <%= link_to "Delete", users_invoice_path(invoice), class: 'dropdown-item text-danger', data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
        </div>
      </div>
    </div>
  </td>
</tr>
