<div class="card mb-3">
  <div class="card-body">
    <div class="row justify-content-between align-items-center">
      <div class="col-md">
        <h5 class="mb-2 mb-md-0">Work Order #<%= invoice.id %></h5>
      </div>
      <div class="col-auto" data-controller='reject-parts-modal'>
        <button class="btn btn-falcon-default btn-sm me-1 mb-2 mb-sm-0" type="button"><span class="fas fa-arrow-down me-1"> </span>Download (.pdf)</button>
        <button class="btn btn-falcon-default btn-sm me-1 mb-2 mb-sm-0" type="button"><span class="fas fa-print me-1"> </span>Print</button>
        <%- if can?(:update, Invoice) %>
          <a href="<%= edit_users_invoice_path(invoice) %>" class="btn btn-falcon-primary btn-sm mb-2 mb-sm-0" type="button"><span class="fa-solid fa-edit"></span> Edit </a>
        <%- end %>
        <%- if can?(:parts_approved, Invoice) && (invoice.pending? || invoice.parts_rejected?) %>
          <a href="<%= parts_approved_users_invoice_path(invoice) %>" class="btn btn-falcon-success btn-sm mb-2 mb-sm-0" type="button"><span class="fa-solid fa-check"></span></span>Approve Parts</a>
        <%- end %>
        <%- if can?(:parts_rejected, Invoice) && (invoice.pending? || invoice.parts_rejected?) %>
          <a class="btn btn-falcon-danger btn-sm mb-2 mb-sm-0" type="button" data-action="click->reject-parts-modal#open"><span class="fa-solid fa-trash"></span></span>  Reject Parts</a>
          <%= turbo_frame_tag "customer_form" do %>
            <%= render 'modal/reject_parts_modal', invoice: invoice %>
          <% end %>
        <%- end %>
        <%- if can?(:completed, Invoice) && invoice.parts_approved? %>
          <a href="<%= completed_users_invoice_path(invoice) %>" class="btn btn-falcon-success btn-sm mb-2 mb-sm-0" type="button"><span class="fa-solid fa-check"></span></span> Complete</a>
        <%- end %>
        <%- if can?(:approved, Invoice) && invoice.completed? %>
          <a href="<%= approved_users_invoice_path(invoice) %>" class="btn btn-falcon-success btn-sm mb-2 mb-sm-0" type="button"><span class="fa-solid fa-check"></span></span> Approve</a>
        <%- end %>
        <%- if can?(:paid, Invoice) && invoice.approved? %>
          <a href="<%= paid_users_invoice_path(invoice) %>" class="btn btn-falcon-success btn-sm mb-2 mb-sm-0" type="button"><span class="fas fa-dollar-sign me-1"></span>Receive Payment</a>
        <%- end %>
      </div>
    </div>
  </div>
</div>
<div id="<%= dom_id invoice %>" class="card">
  <div class="card-body">
    <div class="row align-items-center text-center mb-3">
      <div class="col-sm-6 text-sm-start">
        <%= image_tag 'logo/logo.jpeg', class: 'me-2', width: 150, alt: 'BRTC' %>
      </div>
      <div class="col text-sm-end mt-3 mt-sm-0">
        <h2 class="mb-3">Invoice</h2>
        <h5>BIG RIGS TRUCK CENTRE</h5>
        <p class="fs-10 mb-0"><%= invoice.customer.address rescue '' %></p>
        <p class="fs-10 mb-0">HST NO: 727910473RT0001</p>
        <p class="fs-10 mb-0">PH NO: 6479854783</p>
        <p class="fs-10 mb-0">mvarchus@yahoo.com</p>
      </div>
      <div class="col-12">
        <hr />
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col">
        <h6 class="text-500">Bill to</h6>
        <h5><%= customer.name rescue '' %></h5>
        <p class="fs-10"><%= customer.address rescue '' %></p>
        <p class="fs-10">
          <%= link_to customer.email, "mailto:#{customer.email}" if customer && customer.email.present? %><br />
          <%= link_to customer.phone, "mailto:#{customer.phone}" if customer && customer.phone.present? %>
        </p>
      </div>
      <div class="col-sm-auto ms-auto">
        <div class="table-responsive">
          <table class="table table-sm table-borderless fs-10">
            <tbody>
              <tr>
                <th class="text-sm-end">Invoice No:</th>
                <td><%= invoice.id %></td>
              </tr>
              <tr>
                <th class="text-sm-end">Invoice Date:</th>
                <td><%= invoice.created_at.strftime('%Y-%m-%d') %></td>
              </tr>
              <tr>
                <th class="text-sm-end">Payment Method:</th>
                <td><%= invoice.payment_method.humanize %></td>
              </tr>
              <tr>
                <th class="text-sm-end">Transaction Id:</th>
                <td><%= invoice.transaction_id %></td>
              </tr>
              <%- if invoice.pending? %>
                <tr class="alert alert-warning fw-bold">
                  <th class="text-warning-emphasis text-sm-end">Status:</th>
                  <td class="text-warning-emphasis">Pending</td>
                </tr>
              <%- elsif invoice.parts_approved? %>
                <tr class="alert alert-primary fw-bold">
                  <th class="text-primary-emphasis text-sm-end">Status:</th>
                  <td class="text-primary-emphasis">Parts Approved</td>
                </tr>
              <%- elsif invoice.parts_rejected? %>
                <tr class="alert alert-danger fw-bold">
                  <th class="text-danger-emphasis text-sm-end">Status:</th>
                  <td class="text-danger-emphasis">Parts Rejected</td>
                </tr>
              <%- elsif invoice.completed? %>
                <tr class="alert alert-info fw-bold">
                  <th class="text-info-emphasis text-sm-end">Status:</th>
                  <td class="text-info-emphasis">Completed</td>
                </tr>
              <%- elsif invoice.approved? %>
                <tr class="alert alert-info fw-bold">
                  <th class="text-info-emphasis text-sm-end">Status:</th>
                  <td class="text-info-emphasis">Approved</td>
                </tr>
              <%- elsif invoice.paid? %>
                <tr class="alert alert-success fw-bold">
                  <th class="text-success-emphasis text-sm-end">Status:</th>
                  <td class="text-success-emphasis">Paid</td>
                </tr>
              <%- end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="table-responsive scrollbar my-4 fs-10">
      <table class="table table-striped border-bottom">
        <thead data-bs-theme="light">
          <tr class="bg-primary dark__bg-1000">
            <th class="text-white border-0 text-center">VIN</th>
            <th class="text-white border-0 text-center">MAKE-MODEL</th>
            <th class="text-white border-0 text-center">UNIT NO</th>
            <th class="text-white border-0 text-center">YEAR</th>
            <th class="text-white border-0 text-center">ODOMETER</th>
            <th class="text-white border-0 text-center">LICENCE NO</th>
          </tr>
        </thead>
        <tbody>
          <%- if invoice.vehicle.present? %>
            <tr>
              <td class="align-middle text-center"><%= invoice.vehicle.vin %></td>
              <td class="align-middle text-center"><%= invoice.vehicle.make_model %></td>
              <td class="align-middle text-center"><%= invoice.vehicle.unit_number %></td>
              <td class="align-middle text-center"><%= invoice.vehicle.year %></td>
              <td class="align-middle text-center"><%= invoice.odometer %></td>
              <td class="align-middle text-center"><%= invoice.vehicle.licence_number %></td>
            </tr>
          <%- end %>
        </tbody>
      </table>
    </div>

    <div class="table-responsive scrollbar mt-4 fs-10">
      <table class="table table-striped border-bottom">
        <thead data-bs-theme="light">
          <tr class="bg-primary dark__bg-1000">
            <th class="text-white border-0">Products</th>
            <th class="text-white border-0 text-center">Quantity</th>
            <th class="text-white border-0 text-end">Rate</th>
            <th class="text-white border-0 text-end">Amount</th>
          </tr>
        </thead>
        <tbody>
          <%- invoice.invoice_items.each do |invoice_item| %>
            <tr>
              <td class="align-middle">
                <h6 class="mb-0 text-nowrap"><%= invoice_item.product.name rescue invoice_item.description %></h6>
              </td>
              <td class="align-middle text-center"><%= invoice_item.qty %></td>
              <td class="align-middle text-end"><%= humanized_money_with_symbol invoice_item.price %></td>
              <td class="align-middle text-end"><%= humanized_money_with_symbol invoice_item.final_price %></td>
            </tr>
          <%- end %>
        </tbody>
      </table>
    </div>
    <div class="row justify-content-end">
      <div class="col-auto">
        <table class="table table-sm table-borderless fs-10 text-end">
          <tr>
            <th class="text-900">Subtotal:</th>
            <td class="fw-semi-bold"><%= humanized_money_with_symbol invoice.price %></td>
          </tr>
          <tr>
            <%- tax_percentage = Setting.last.tax_percentage rescue 0 %>
            <th class="text-900">Tax <%= tax_percentage %>%:</th>
            <td class="fw-semi-bold"><%= humanized_money_with_symbol invoice.tax %></td>
          </tr>
          <tr>
            <th class="text-900">Discount %:</th>
            <td class="fw-semi-bold"><%= humanized_money_with_symbol invoice.discount %></td>
          </tr>
          <tr class="border-top">
            <th class="text-900">Total:</th>
            <td class="fw-semi-bold"><%= humanized_money_with_symbol invoice.total_price %></td>
          </tr>
          <%- if invoice.status == 'pending' %>
            <tr class="border-top border-top-2 fw-bolder">
              <th class="text-900">Amount Due:</th>
              <td class="text-900"><%= humanized_money_with_symbol invoice.total_price %></td>
            </tr>
          <%- end %>
        </table>
      </div>
    </div>
  </div>
</div>
