<!DOCTYPE html>
<html data-bs-theme="light" lang="en-US" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <meta name="application-name" content="<%= website_name.titleize %>">
    <title><%= website_name.titleize %></title>

    <!-- ===============================================-->
    <!--    Tweeter-->
    <!-- ===============================================-->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@">
    <meta property="og:title" content="">

    <!-- ===============================================-->
    <!--    OG-->
    <!-- ===============================================-->
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <meta property="og:site_name" content="">
    <meta property="og:description" content="">
    <meta name="theme-color" content="#ffffff">

    <!-- ===============================================-->
    <!--    OG-->
    <!-- Turbo can also speed up perceived link navigation latency by automatically loading links on mouseenter events, and before the user clicks the link. -->
    <!-- ===============================================-->
    <meta name="turbo-prefetch" content="false">

    <!-- ===============================================-->
    <!--    csrf_meta-->
    <!-- ===============================================-->
    <%= csrf_meta_tags %>

    <!-- ===============================================-->
    <!--    csp_meta-->
    <!-- ===============================================-->
    <%= csp_meta_tag %>

    <!-- ===============================================-->
    <!--    stylesheet-->
    <!-- ===============================================-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700%7cPoppins:300,400,500,600,700,800,900&amp;display=swap" rel="stylesheet">
  </head>

  <body>
    <main class="main" id="top">
      <div class="container-fluid" data-layout="container">
        <%- if user_signed_in? %>
          <%= render partial: 'layouts/partials/sidebar' %>
          <div class="content">
            <%= render partial: 'layouts/partials/header' %>
            <%= render partial: 'layouts/partials/flash' %>
            <%= yield %>
            <%= render partial: 'layouts/partials/footer' %>
            <%= render partial: 'layouts/partials/modal' %>
          </div>
        <%- else %>
          <%= render partial: 'layouts/partials/flash' %>
          <%= yield %>
        <%- end %>
      </div>
    </main>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
  </body>
</html>
